@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;800&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

.html {
    font-size: 16px;
}

header {
    max-width: 1366px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}

.header_first {
    background-image: url(img/star\ uó\ topo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 88vh;
}

.header_star_wars {}

.header_star_wars img {
    width: 17%;
}

.star {
    position: relative;
    bottom: -320px;
    left: 360px;
}

.wars {
    position: relative;
    bottom: -310px;
    left: 640px;

}

.header_Kilo_ren {
    position: relative;
}

.header_Kilo_ren img {
    width: 70%;
    position: relative;
    bottom: 70px;
    left: 140px;
}

.header_second {
    background-image: url("img/sta\ uo\ robot.png");
    background-repeat: no-repeat;
    background-size: 37vw 225vh;
    height: 1200px;
    width: 100vw;
}

.teste {
    display: flex;
    width: 100vw;
    height: 85vh;
    justify-content: space-between;

}

.header_second_play {
    background-image: url(img/Grupo\ vermelho.png);
    width: 300px;
    height: 584px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 30px;
    left: 170px;
}

.header_second_play h2 {
    color: white;
    width: 12vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2.37rem;
    text-align: center;
}

.header_second_play p {
    color: white;
    display: flex;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;

}

.header_second_play a {
    text-decoration: none;
    border: 1.5px solid white;
    color: white;
    padding: .75em 1.5em;
    border-radius: 4px;
    width: 15vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    transition: all .5s;
    font-size: 0.875rem;
    transition-timing-function: ease;
    transition-duration: .5s;
    background: #fff linear-gradient(90deg, #d74430 50%, black 50%);
    background-position: 0% center;
    background-size: 200%;
    cursor: pointer;
}

.header_second_play a:hover {
    background-position: 100% center;
}

.header_second_sobre {
    display: flex;
    align-items: flex-end;
    width: 55vw;
    bottom: 264px;
    left: 700px;

}

.header_second_sobre img {
    height: 240px;
    width: 25vw;
}

.header_second_sobre_texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 245px;
}

.header_second_sobre h4 {
    display: flex;
    font-size: 1.37rem;
    font-weight: 800;

}

.header_second_sobre h3 {
    border: solid 0.5px;
    width: 10vw;
    display: flex;
}

.header_second_sobre p {
    text-align: right;
    font-size: 0.94rem;
    padding-right: 3px;
    font-weight: 500;

}

.header_second_linha {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: flex-end;

}

.linha {
    border: .5px solid;
    color: #707070;
    width: 60vw;

}

.header_third {
    display: flex;
    justify-content: space-evenly;
    height: 127vh;
    width: 100vw;

}

.header_third_menu {
    height: 262.8px;
    width: 409.8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    bottom: -200px;
    left: -400px;

}

.header_third_menu h1 {
    width: 300.52px;
    font-size: 3.43rem;
    text-align: right;
    font-weight: 600;
    line-height: 47px;
    padding-bottom: 25px;
}

.header_third_menu ul {
    list-style: none;
    font-size: 1.5rem;
    text-align: right;
    font-weight: 400;

}

.header_third_menu li {
    height: 45.99px;
    width: 382.48px;
    text-decoration: none;
    transition: all .1s;
}

.header_third_menu li:hover {
    background-color: #d74430;
    color: white;
}

.header_third_menu a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.header_third_menu a:hover {
    background-color: #d74430;
    color: white;

}

.header_third_figures {
    width: 6830px;
    position: relative;
}

.rey {
    position: relative;
    left: 400px;
    bottom: -110px;
    width: 317px;
    height: 514px;
}

.darth_maul {
    position: relative;
    left: 200px;
    bottom: -40px;
    height: 569px;
    width: 568px;

}

.ray {
    position: relative;
    top: 100px;
}

main {
    background-color: #2D2D2D;
    max-width: 1366px;
    width: 100%;
    margin: auto;
    height: 356vh;

}

main h2 {
    color: white;
    font-size: 2.57rem;
    font-weight: 800;
    height: 40vh;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_first {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58.1vh;
    width: 98vw;

}

.main_luke {
    width: 40vw;
    height: 58vh;
}

.luke {
    width: 40vw;
    height: 60vh;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.lukeTeste {
    border: solid;
    position: relative;
    bottom: 50px;
}

.main_box {
    display: flex;
    flex-direction: ;
    align-items: center;
    justify-content: ;
    flex-wrap: wrap;
    width: 49vw;
    height: 58vh;

}

.main_box figure {
    height: 30vh;
}

.main_box img {
    width: 23vw;
    height: 30vh;
}

.borda {
    width: 40px;
    height: 40px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    margin: 25px 0 0 28px;
}

.h4_hover {
    font-size: 2rem;
    color: white;
    margin: 25px 0 3vh 5vw;
}

.p_hover {
    font-size: 1.3rem;
    color: white;
    margin: 2vh 1vw 6vh 5vw;
}

.btn_hover {
    margin: 2px 0 0 190px;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    width: 9vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
}

.borda2 {
    width: 40px;
    height: 40px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    margin-top: 1px;
    margin-bottom: px;
    margin-left: 460px;
}

.efeito {
    border: solid;
    width: 546.4px;
    height: 381.06px;
    position: absolute;
    top: 2040px;
    opacity: 0%;
    transition: .1s;

}

.efeito:hover {
    opacity: 50%;
    background-color: #A43D2F;
    transform: scale(1.1)
}

.efeito_box_one {
    width: 317px;
    height: 190px;
    position: absolute;
    top: 2040px;
    opacity: 0%;
    transition: .1s;
}

.efeito_box_one:hover {
    opacity: 50%;
    background-color: #A43D2F;
    transform: scale(1.1)
}

.efeito_box_two {
    width: 317px;
    height: 190px;
    position: absolute;
    top: 2040px;
    opacity: 0%;
    transition: .1s;
}

.efeito_box_two:hover {
    opacity: 50%;
    background-color: #A43D2F;
    transform: scale(1.1)
}

.efeito_box_three {
    width: 317px;
    height: 190px;
    position: absolute;
    top: 2236px;
    opacity: 0%;
    transition: .1s;
}

.efeito_box_three:hover {
    opacity: 50%;
    background-color: #A43D2F;
    transform: scale(1.1)
}

.efeito_box_four {
    width: 317px;
    height: 190px;
    position: absolute;
    top: 2236px;
    opacity: 0%;
    transition: .1s;
}

.efeito_box_four:hover {
    opacity: 50%;
    background-color: #A43D2F;
    transform: scale(1.1)
}

.h4_hover_box {
    font-size: 1rem;
    color: white;
    margin: 9px 0 0px 25px;
}

.p_hover_box {
    font-size: .80rem;
    width: 259px;
    margin-left: 25px;
    color: white;
}

.btn_hover_box {
    cursor: pointer;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    width: 6vw;
    height: 5vh;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
}

.borda_box {
    width: 20px;
    height: 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    margin-top: 5px;
    margin-left: 5px;
}

.borda2_box {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    width: 20px;
    height: 20px;
    margin-left: 280px;
}

.main_second {
    width: 91vw;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.main_second img {
    width: 86vw;
    height: 90vh;
}

.main_second p {
    color: white;
    font-size: .94rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.main_second h2 {
    text-transform: uppercase;
    font-size: 2.30rem;
    font-weight: 700;
    width: 55vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main_third {
    background-color: white;
    width: 98.75vw;
    height: 80vh;
    display: flex;
    align-items: center;


}

.main_third div {
    height: 40vh;
    width: 34vw;

}

.main_third figure {
    width: 40vw;
}

.main_third img {
    width: 40vw;
    height: 120vh;
    position: relative;
    bottom: 490px;
}

.main_third_button {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
    height: 500vh;


}

.main_third_button_h3 {
    font-size: 2.57rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.main_third_button:hover .main_third_button_h3 {
    font-weight: 900;

}

.main_third_button_a {
    width: 14vw;
    height: 8vh;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 300;
    background-color: black;
    color: white;
    transition-timing-function: ease;
    transition-duration: .5s;
    background: #fff linear-gradient(90deg, black 50%, #d74430 50%);
    background-position: 0% center;
    background-size: 200%;
    cursor: pointer;

}

.main_third_button:hover .main_third_button_a {
    background-position: 100% center;
}


.main_third_button_texto {
    font-size: 1rem;
    font-weight: 100;
    height: 8vh;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_third_button_texto:first-of-type {
    align-items: flex-end;

}

.main_third_button_bt {
    border-top: 4px solid;
    width: 5vw;
}

.main_third_button:hover .main_third_button_bt {
    border-top: 4px solid #d74430;

    border-color: 100% center;
}
footer{
    max-width: 1366px;
    width: 100%;
    margin: auto;
    display: flex;
}
.footer_first{
    background-color: #ff5a56;
    height: 110vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_first h2{
    text-transform: uppercase;
    color: white;
    font-size: 1.94rem;
    height: 25vh;
    width: 28vw;
    display: flex;
    align-items: center;
}
.footer_first p{
    color: #fff;
    font-size: 0.94;
    font-weight: 100;
    width: 28vw;
}
.footer_first_apps{
    width: 29vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer_first_apps img{
    width: 13.86vw;
}

.footer_linha{
    border-top: solid 3px;
    width: 28vw;
    color: #D74430;
}

.footer_first_logo{
    width: 29vw;
    height: 30vh;
    display: flex;
    align-items: center;
}
.footer_first_logo img{
    width: 20vw;
    height:20vh ;
}
.footer_second{
    height: 100vh;
    width: 20vw;
}
.footer_second img{
    position: relative;
    width: 420px;
    height: 765px;
    bottom: 100px;
    left: -100px;
    
}

@media (max-width:500px) {
    .header_first {
        background-size: 100%;
        width:100vw;
        height: 40vh;
        
       
    }
    header{
      border: ;
    }

    .header_star_wars img {
        width: 85px;


    }

    .header_star_wars {
        width: 200px;
    }

    .star {
        bottom: -120px;
        left: 125px;

    }

    .wars {
        bottom: -116px;
        left: 219px;
    }

    .header_Kilo_ren {
        position: relative;
        width: 450px;
    }

    .header_Kilo_ren img {
        width: 70%;
        bottom: 20px;
        left: 60px;

    }

    .header_second {
        background-size: 50vw 160vh;
        height: 1560px;
        width: 99vw;

    }

    .teste {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        height: 1280px;
        width: 97vw;
       
    }
    .header_second_play {
        position: initial;
        width: 60vw;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .header_second_play h2 {
        width: 40vw;


    }

    .header_second_play p {
        text-align: left;
        width: 47.8vw;
        height: 9vh;

    }

    .header_second_play a {
        width: 40vw;

    }

    .header_second_sobre {
        flex-direction: column-reverse;
        width: 81vw;

    }

    .header_second_sobre img {
        width: 61.5vw;
    }

    .header_second_sobre_texto {
        width: 90vw;
        height: 40vh;

    }
    .header_second_sobre_texto h3{ 
        width: 40vw;
    }

    .header_second_linha {
        width: 98vw;
        height: 3vh;
        align-items: flex-start;

    }
    .header_second_linha{
        width: 96vw;
    }

    .linha {
        border: solid;
        width: 60vh;
    }

    .header_third {
        width: 98vw;
        height: 40vh;
       

    }

    .header_third_menu {
        width: 184px;
        height: 150px;
        left: -100px;
        bottom: -60px;
    }

    .header_third_menu nav {
        
    }

    .header_third_menu h1 {
        width: 120px;
        height: 55px;
        font-size: 1.25rem;
        line-height: 5vh;
    }

    .header_third_menu li {
        height: 16px;
        width: 170px;
    }

    .header_third_menu ul {
        font-size: 0.625rem;

    }

    .header_third_figures {
        width: 20px;
        height: 10px;
        position: relative;
       

    }

    .darth_maul {
        width: 187px;
        height: 250px;
        left: -55px;
        bottom: -60px;

    }

    .rey {
        width: 100px;
        height: 250px;
        left: 220px;
        bottom: 210px;

    }

    main {
        height: 535vh;
       
    }

    main h2 {
        font-size: 1.3125rem;
        width: 94vw;
        height: 25vh;
        align-items: flex-end;

    }

    .main_first {
        width: 97vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200vh;
        


    }

    .main_box {
        width: 71vw;
        height: 5000vh;
        display: flex;
        align-items: flex-start;

    }

    .main_box img {
        width: 69vw;
        height: 40vh;


    }

    .main_luke img {
        width: 69vw;
        height: 40vh;
    }

    .main_luke {
        width: 71vw;
        display: flex;
        justify-content: flex-start;

    }

    .efeito {
        width: 348px;
        height: 220px;
        top: 1890px;
        right: 100px;
    }

    .borda {
        width: 20px;
        height: 20px;
        border-top: 3px solid white;
        border-left: 3px solid white;
        margin-top: 5px;
        margin-left: 5px;
    }

    .h4_hover {
        font-size: 1rem;
        color: white;
        margin: 9px 0 0px 25px;
    }

    .p_hover {
        font-size: .80rem;
        width: 259px;
        margin-left: 25px;
        color: white;
    }

    .btn_hover {
        width: 65px;
        margin-left: 25px;
    }

    .borda2 {
        border-bottom: 3px solid white;
        border-right: 3px solid white;
        width: 20px;
        height: 20px;
        margin-left: 280px;
    }

    .efeito_box_one {
        right: 90px;
        top: 2100px;
        width: 348px;
        height: 220px;


    }

    .efeito_box_two {
        right: 90px;
        top: 2318px;
        width: 348px;
        height: 220px;

    }

    .efeito_box_three {
        right: 85px;
        top: 2550px;
        width: 348px;
        height: 220px;
    }

    .efeito_box_four {
        right: 100px;
        top: 2763px;
        right: 85px;
        width: 348px;
        height: 220px;
    }

    .btn_hover_box {
        width: 80px;
    }

    .main_second {
        width: 100%;
        height: 160vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
       
    }

    .main_second img {
        width: 100%;
        
    }

    .main_second p {
        font-size: .77rem;
        justify-content: flex-end;
        text-align: right;
        width: 60vw;

    }

    .main_second figcaption {
        height: 20vh;
        font-size: .70rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 90vw;
    }

    .main_second h2 {
        width: 80vw;
        height: 12vh;
        font-size: 1.5rem;
    }

    .main_third figure {
        bottom: 130px;
        left: -165px;
        width: 70vw;
    }

    .main_third img {
        width: 80vw;
        bottom: 200px;
        left: -210px;
    }

    .main_third {
        height: 150vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .main_third div {
        width: 80vw;
    }

    .main_third div:first-of-type {
        height: 5vh;
        width: 90vw;
    }

    .main_third_button_a {
        width: 40vw;
        height: 15vh;
    }

    .main_third_button_texto {
        width: 50vw;
    }

    .main_third_button_bt {
        width: 15vw;
    }
    footer{
        flex-direction: column;
    }
    .footer_first{
        width: 99vw;
        height: 200vh;
        
    }
    .footer_first h2{
        width: 60vw;
        font-size: 3.51rem;
    }
    .footer_first p{
        width:60vw;
    }
    .footer_first_apps{
        width: 60vw;
        height: 20vh;
        justify-content: space-between;
    }
    .footer_first_apps img{
        width: 29vw;
        
    }
    .footer_linha{
        width: 60vw;
    }
    .footer_first_logo{
        justify-content: center;
    }
    .footer_first_logo img{
        width: 40vw;
    }
    .footer_second img{
        bottom: 298px;
        left: 25px;
        height: 650px;
    }

}