@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;800&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

.html {
    font-size: 16px;
}

header {
    max-width: 1366px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}

.header_first {
    background-image: url(img/star\ uó\ topo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 43vw;
    position: relative;
}

.header_first_legião {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    height: 20vh;
    width: 86vw;
    font-size: 1.5625rem;
    line-height: 1.2;

}

.header_first_legião_linha {
    border-bottom: 3px solid #000;
    width: 10vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header_first_legião p {
    width: 10vw;
    text-transform: uppercase;
}

.header_first_legião_number {
    width: 82vw;
    display: flex;
    justify-content: flex-end;
    font-size: 0.875rem;
    align-items: center;
}

.header_first_legião_number p {
    padding-left: 5px;
}

.legião_number {
    font-size: 1.5rem;
    font-weight: 400;

}

.legião_button {
    color: #000;
    width: 1vw;
    height: 2.5vh;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 3px;
    background-color: #9fb6ca;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header_star_wars {
    display: flex;
    justify-content: space-between;
    margin-top: 24vw;
    padding-left: 1vw;
    width: 100%;
    height: 6vw;
    padding: 0 9.3vw 0 18.6vw;

}

.header_star_wars img {
    width: 25vw;
}

.header_Kilo_ren {
    position: absolute;
    top: 0;
    left: 10.25%;
}

.header_Kilo_ren img {
    width: 70vw;

}

.header_second {
    background-image: url("img/sta\ uo\ robot.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 183vh;
    width: 100vw;

}

.header_second_play {
    display: flex;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: flex-end;
    position: relative;

}

.header_second_play_texto {
    background-image: url(img/Grupo\ vermelho.png);
    width: 22vw;
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 15%;
}

.header_second_play_texto h2 {
    color: white;
    width: 12vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2.37rem;
    text-align: center;
    text-transform: uppercase;
}

.header_second_play_texto p {
    color: white;
    display: flex;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;

}

.header_second_play_texto a {
    text-decoration: none;
    border: 1.5px solid white;
    color: white;
    padding: .75em 1.5em;
    border-radius: 4px;
    width: 15vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    transition: all .5s;
    font-size: 0.875rem;
    transition-timing-function: ease;
    transition-duration: .5s;
    background: #fff linear-gradient(90deg, #d74430 50%, black 50%);
    background-position: 0% center;
    background-size: 200%;
    cursor: pointer;
}

.header_second_play_texto a:hover {
    background-position: 100% center;
}

.header_second_sobre {
    display: flex;
    align-items: flex-end;
    width: 55vw;


}

.header_second_sobre img {
    height: 240px;
    width: 25vw;
}

.header_second_sobre_texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 245px;
}

.header_second_sobre h4 {
    display: flex;
    font-size: 1.37rem;
    font-weight: 800;
    text-transform: uppercase;

}

.header_second_sobre h3 {
    border: solid 0.5px;
    width: 10vw;
    display: flex;
}

.header_second_sobre p {
    text-align: right;
    font-size: 0.94rem;
    padding-right: 3px;
    font-weight: 500;

}

.header_second_linha {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: flex-end;

}

.linha {
    border: .5px solid;
    color: #707070;
    width: 60vw;

}

.header_third {
    display: flex;
    justify-content: center;
    height: 127vh;
    width: 100vw;
    position: relative;


}

.header_third_menu {
    height: 90vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;

}

.header_third_menu h1 {
    font-size: 3.43rem;
    text-align: right;
    font-weight: 400;
    line-height: 47px;
    padding-bottom: 25px;
    text-transform: uppercase;
    width: 21vw;
}

.header_third_menu ul {
    list-style: none;
    font-size: 1.5rem;
    text-align: right;
    font-weight: 400;
    text-transform: uppercase;

}

.header_third_menu li {
    text-decoration: none;
    transition: all .1s;
}

.header_third_menu li:hover {
    background-color: #d74430;
    color: white;
}

.header_third_menu a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.header_third_menu a:hover {
    background-color: #d74430;
    color: white;

}

.header_third_figures {
    width: 100%;
    position: relative;

}

.rey {
    position: absolute;
    left: 70%;
    bottom: 25%;
    width: 20vw;
    height: 514px;
}

.darth_maul {
    position: absolute;
    left: 10%;
    bottom: 25%;
    height: 569px;
    width: 45vw;

}

main {
    background-color: #2D2D2D;
    max-width: 1366px;
    width: 100%;
    margin: auto;
    height: 356vh;

}

main h2 {
    color: white;
    font-size: 2.57rem;
    font-weight: 800;
    height: 40vh;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

.main_first {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58.1vh;
    width: 98vw;

}

.main_luke {
    width: 40vw;
    height: 58vh;
    position: relative;
}

.luke {
    width: 40vw;
    height: 60vh;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.main_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 49vw;
    height: 58vh;

}

.main_box figure {
    height: 30vh;
}

.main_box img {
    width: 23vw;
    height: 30vh;
}

.borda {
    width: 40px;
    height: 40px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    margin: 25px 0 0 28px;
}

.h4_hover {
    font-size: 2rem;
    color: white;
    margin: 25px 0 3vh 5vw;
}

.p_hover {
    font-size: 1.3rem;
    color: white;
    width: 35vw;
    margin-left: 5vw;

}

.btn_hover {
    cursor: pointer;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    width: 8vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
    margin: 2vh 1vw 6vh 5vw;
}

.borda2 {
    width: 40px;
    height: 40px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    margin-top: 1px;
    margin-bottom: px;
    margin-left: 460px;
}

.efeito {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    opacity: 0%;
    transition: .1s;

}

.efeito:hover {
    opacity: 50%;
    background-color: #A43D2F;
    transform: scale(1.1)
}

.main_box_one {
    position: relative;
}

.efeito_box_one {
    width: 100%;
    height: 30vh;

    position: absolute;
    bottom: 0;
    opacity: 0%;
    transition: .1s;
}

.efeito_box_one:hover {
    opacity: 50%;
    background-color: #0000CD;
    transform: scale(1.1)
}

.main_box_two {
    position: relative;
}

.efeito_box_two {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0%;
    transition: .1s;
}

.efeito_box_two:hover {
    opacity: 50%;
    background-color: #8A2BE2;
    transform: scale(1.1)
}

.main_box_three {
    position: relative;
}

.efeito_box_three {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0%;
    transition: .1s;
}

.efeito_box_three:hover {
    opacity: 50%;
    background-color: #006400;
    transform: scale(1.1)
}

.main_box_four {
    position: relative;
}

.efeito_box_four {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0%;
    transition: .1s;
}

.efeito_box_four:hover {
    opacity: 50%;
    background-color: #DAA520;
    transform: scale(1.1)
}

.h4_hover_box {
    font-size: 1rem;
    color: white;
    margin: 9px 0 0px 25px;
    text-transform: uppercase;
}

.p_hover_box {
    font-size: .80rem;
    width: 259px;
    margin-left: 25px;
    color: white;
}

.btn_hover_box {
    cursor: pointer;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    width: 6vw;
    height: 5vh;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
}

.borda_box {
    width: 20px;
    height: 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    margin-top: 5px;
    margin-left: 5px;
}

.borda2_box {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    width: 20px;
    height: 20px;
    margin-left: 280px;
}

.main_second {
    width: 91vw;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.main_second img {
    width: 86vw;
    height: 90vh;
}

.main_second p {
    color: white;
    font-size: .94rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.main_second h2 {
    text-transform: uppercase;
    font-size: 2.30rem;
    font-weight: 700;
    width: 55vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main_third {
    background-color: white;
    width: 98.75vw;
    height: 80vh;
    display: flex;
    align-items: center;


}

.main_third div {
    height: 40vh;
    width: 34vw;

}

.main_third figure {
    width: 40vw;
}

.stornm_trooper {
    position: relative;
    width: 100%;
    height: 100%;
}

.stornm_trooper img {
    width: 40vw;
    height: 120vh;
    position: absolute;
    bottom: 0;
    right: 4%;

}

.main_third_button {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500vh;
}

.main_third_button_h3 {
    font-size: 2.57rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.main_third_button:hover .main_third_button_h3 {
    font-weight: 900;

}

.main_third_button_a {
    width: 14vw;
    height: 8vh;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 300;
    background-color: black;
    color: white;
    transition-timing-function: ease;
    transition-duration: .5s;
    background: #fff linear-gradient(90deg, black 50%, #d74430 50%);
    background-position: 0% center;
    background-size: 200%;
    cursor: pointer;

}

.main_third_button:hover .main_third_button_a {
    background-position: 100% center;
}


.main_third_button_texto {
    font-size: 1rem;
    font-weight: 100;
    height: 8vh;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_third_button_texto:first-of-type {
    align-items: flex-end;

}

.main_third_button_bt {
    border-top: 4px solid;
    width: 5vw;
}

.main_third_button:hover .main_third_button_bt {
    border-top: 4px solid #d74430;

    border-color: 100% center;
}

footer {
    max-width: 1366px;
    width: 100%;
    margin: auto;
    display: flex;
}

.footer_first {
    background-color: #ff5a56;
    height: 110vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_first h2 {
    text-transform: uppercase;
    color: white;
    font-size: 1.94rem;
    height: 25vh;
    width: 28vw;
    display: flex;
    align-items: center;
}

.footer_first p {
    color: #fff;
    font-size: 0.94;
    font-weight: 100;
    width: 28vw;
}

.footer_first_apps {
    width: 29vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_first_apps img {
    width: 13.86vw;
}

.footer_linha {
    border-top: solid 3px;
    width: 28vw;
    color: #D74430;
}

.footer_first_logo {
    width: 29vw;
    height: 30vh;
    display: flex;
    align-items: center;
}

.footer_first_logo img {
    width: 20vw;
    height: 20vh;
}

.footer_second {
    height: 100vh;
    width: 26vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer_second img {
    position: absolute;
    width: 31vw;
    height: 120%;
    top: -20%;
    right: 10%;

}

.footer_second p {
    font-size: 0.8125rem;
    width: 20vw;
}

@media (max-width:500px) {
    .header_first {
        background-size: 100%;
        width: 100vw;

    }

    .header_first_legião {
        font-size: 0.7rem;
        width: 95vw;
        height: 13vh;

    }

    .header_first_legião_linha {
        width: 16vw;
    }

    .header_first_legião p {
        width: 16vw;
    }

    .header_first_legião_number {
        width: 90vw;
        font-size: 0.60rem;

    }

    .legião_button {
        width: 1.5vw;
        height: 2vh;
    }

    .legião_number {
        font-size: 0.70rem;
    }

    .header_star_wars img {
        width: 85px;
    }

    .header_star_wars {
        justify-content: space-between;
        padding: 0 16.8vw 0 25vw;
    }

    .header_Kilo_ren {
        bottom: 150px;
        position: absolute;
        bottom: 25%;
    }

    .header_second {
        background-size: contain;
        height: 245vh;
        width: 100vw;
    }

    .header_second_play {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        height: 195vh;
        width: 97vw;


    }

    .header_second_play_texto {
        position: initial;
        width: 60vw;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .header_second_play_texto h2 {
        width: 40vw;
    }

    .header_second_play_texto p {
        width: 44vw;
        line-height: 4vh;
        display: flex;
    }

    .header_second_play_texto a {
        width: 40vw;

    }

    .header_second_sobre {
        flex-direction: column-reverse;
        width: 81vw;

    }

    .header_second_sobre img {
        width: 61.5vw;
    }

    .header_second_sobre_texto {
        width: 90vw;
        height: 40vh;

    }

    .header_second_sobre_texto h3 {
        width: 40vw;
    }

    .header_second_linha {
        width: 98vw;
        height: 3vh;
        align-items: flex-start;

    }

    .header_second_linha {
        width: 96vw;
    }

    .linha {
        border: solid;
        width: 60%;
    }

    .header_third {
        width: 98vw;
        height: 49vh;
    }

    .header_third_menu {
        width: 184px;
        height: 190px;
        bottom: 10%;

    }

    .header_third_menu h1 {
        width: 120px;
        height: 55px;
        font-size: 1.25rem;
        line-height: 5vh;
        text-transform: uppercase;
    }

    .header_third_menu li {
        height: 16px;
        width: 170px;
    }

    .header_third_menu ul {
        font-size: 0.625rem;

    }

    .header_third_figures {
        position: relative;
        width: 100%;

    }

    .darth_maul {
        width: 187px;
        height: 250px;
        position: absolute;
        top: 15%;

    }

    .rey {
        width: 100px;
        height: 250px;
        position: absolute;
        left: 70%;
        bottom: -25px;

    }

    main {
        height: 535vh;

    }

    main h2 {
        font-size: 1.3125rem;
        width: 94vw;
        height: 25vh;
        align-items: flex-end;

    }

    .main_first {
        width: 97vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200vh;



    }

    .main_box {
        width: 71vw;
        height: 5000vh;
        display: flex;
        align-items: flex-start;

    }

    .main_box img {
        width: 69vw;
        height: 40vh;


    }

    .main_luke img {
        width: 69vw;
        height: 40vh;
    }

    .main_luke {
        width: 71vw;
        display: flex;
        justify-content: flex-start;
        position: relative;

    }

    .efeito {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;

    }

    .borda {
        width: 20px;
        height: 20px;
        border-top: 3px solid white;
        border-left: 3px solid white;
        margin-top: 5px;
        margin-left: 5px;
    }

    .h4_hover {
        font-size: 1rem;
        color: white;
        margin: 9px 0 0px 25px;
    }

    .p_hover {
        font-size: .80rem;
        width: 259px;
        margin-left: 25px;
        color: white;
    }

    .btn_hover {
        width: 65px;
        margin-left: 25px;
    }

    .borda2 {
        border-bottom: 3px solid white;
        border-right: 3px solid white;
        width: 20px;
        height: 20px;
        margin-left: 280px;
    }

    .main_box_one {
        position: relative;

    }

    .efeito_box_one {
        position: absolute;
        top: 1%;
        height: 39vh;
        border: solid;
    }

    .main_box_two {
        position: relative;
    }

    .efeito_box_two {
        position: absolute;
        top: 2%;
        height: 39vh;

    }

    .main_box_three {
        position: relative;
    }

    .efeito_box_three {
        position: absolute;
        top: 3%;
        height: 39vh;
    }

    .main_box_four {
        position: relative;
    }

    .efeito_box_four {
        position: absolute;
        top: 3%;
        height: 39vh
    }

    .btn_hover_box {
        width: 80px;
    }

    .main_second {
        width: 100%;
        height: 160vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;


    }

    .main_second img {
        width: 100%;

    }

    .main_second p {
        font-size: .77rem;
        justify-content: flex-end;
        text-align: right;
        width: 60vw;

    }

    .main_second figcaption {
        height: 20vh;
        font-size: .70rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 90vw;
    }

    .main_second h2 {
        width: 80vw;
        height: 12vh;
        font-size: 1.5rem;
    }

    .main_third figure {
        bottom: 130px;
        left: -165px;
        width: 70vw;
    }

    .main_third {
        height: 150vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .main_third div {
        width: 80vw;
        margin-bottom: 50px;
    }

    .stornm_trooper {
        position: relative;
        bottom: 15%;
    }

    .stornm_trooper img {
        position: absolute;
        right: 73%;
        top: 65%;
        height: 160vh;
        width: 70vw;
    }

    .main_third_button_a {
        width: 40vw;
        height: 15vh;
    }

    .main_third_button_texto {
        width: 50vw;
    }

    .main_third_button_bt {
        width: 15vw;
    }

    footer {
        flex-direction: column;
    }

    .footer_first {
        width: 100%;
        height: 170vh;

    }

    .footer_first h2 {
        width: 60vw;
        font-size: 3.51rem;
    }

    .footer_first p {
        width: 60vw;
    }

    .footer_first_apps {
        width: 60vw;
        height: 20vh;
        justify-content: space-between;
    }

    .footer_first_apps img {
        width: 29vw;

    }

    .footer_linha {
        width: 60vw;
    }

    .footer_first_logo {
        justify-content: center;
    }

    .footer_first_logo img {
        width: 40vw;
    }

    .footer_second {
        position: relative;
        width: 100%;
        height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

    }

    .footer_second img {
        position: absolute;
        top: -210px;
        right: 110px;
        width: 65vw;
        height: 90vh;
    }

    .footer_second p {
        width: 80vw;
        font-size: 0.8125rem;
        margin-bottom: 10px;
    }

}